<div class="inset-0 flex flex-col min-w-0 sizePage">

    <entete entete="Gestion des priviléges" [hasSearch]="true" [hasSearchCritere]="true" [hasExport]="true" [hasAjout]="hasAdd" (rechercherGlobal)="rechercherGlobal($event)" (exportPDF)="exportAs($event)" (addItem)="ajoutPrivilege()"  (rechercherCritere)="filterList()" ></entete>

    <div [hidden]="!isCollapsed">
        <div class="fuse-widget-front-filtre custom_recherche">
            <mat-toolbar class="mat-accent m-0 c_backToolbar" style="min-height: 36px !important;">
                <mat-toolbar-row class="c_back_header">
                    <div class="recherPaC">Recherche par critère</div>
                </mat-toolbar-row>
            </mat-toolbar>
            <form name="searchForm" [formGroup]="searchForm" class="event-form-search w-100-p">
                <div class="event-form-search w-100-p" fxLayout="row wrap" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="fields pl-2">
                        <mat-form-field class="fuse-mat-dense mt-2 mr-2 formInfSearch" appearance="outline" fxFlex="100">
                            <mat-label class="enteteccColor">Code</mat-label>
                            <input matInput class="enteteccColor" numberOnly formControlName="code" type="text">
                            <mat-icon matSuffix class="enteteccColor">code</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense mt-2 mr-2 formInfSearch" appearance="outline" fxFlex="100">
                            <mat-label class="labell">Libellé
                            </mat-label>
                            <input formControlName="libelle" [autocomplete]="'off'" matInput>
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense mt-2 mr-2 formInfSearch" appearance="outline" fxFlex="100" class="pr-4">
                            <mat-label class="enteteccColor">Niveau
                                </mat-label>
                            <mat-select ngDefaultControl formControlName="niveau" class="enteteccColor">
                                <mat-option class="enteteccColor" value="{{item.value}}" *ngFor="let item of listNiveaux">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="enteteccColor">code</mat-icon>
                            <mat-error>
                                Le champ niveau est requis
                            </mat-error>
                        </mat-form-field>
                        <div mat-dialog-actions class="flex items-center justify-center space-x-4 mb-2 mt-4">
                            <mat-progress-spinner *ngIf="isSearch2" class="circle-loader2" color="#000000" [mode]="'indeterminate'" [strokeWidth]="4" [value]="2" [diameter]="20">
                            </mat-progress-spinner>
                            <button mat-button mat-raised-button [disabled]="isSearch2" type="button" matDialogClose class="submit-button" (click)="searchFilterLocalCritereGlobal()">
                                <span class="textForm">Rechercher</span>
                            </button> &nbsp; &nbsp;&nbsp; &nbsp;
                            <button mat-button mat-raised-button [disabled]="isSearch2" color="red" type="button" (click)="annulerRechercheCritere()" class="submit-buttonRed" style="size: 14px" value="bold">
                                <span class="textForm">Annuler</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="overflow-hidden c-posiDataSource">
        <div class="flex flex-col flex-auto sm:mb-1">
            <div class="inset-x-0 bottom-0" *ngIf="isLoading && datas.length === 0">
                <div class="p-16 sm:p-16 title-chargement font-semibold tracking-tight text-center">
                    Chargement en cours ...
                </div>
            </div>
            <div *ngIf="hasList">
                <div class="flex flex-col overflow-x-auto w-full">

                    <table aria-label="privilege" class="w-full service-table" [ngClass]="{'pointer-events-none': isLoading}" mat-table matSort [matSortActive]="'libelle'" [matSortDisableClear]="true" [matSortDirection]="'asc'" [multiTemplateDataRows]="true" [dataSource]="dataSource"
                        [trackBy]="trackByFn">

                        <ng-container matColumnDef="code">
                            <ng-container>
                                <th class="w-40 bg-gray-50  dark:bg-black dark:bg-opacity-5 enteteTable" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    Code
                                </th>
                            </ng-container>
                            <td class="pr-8 truncate contentTable" mat-cell *matCellDef="let privilege">
                                {{privilege?.code}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="libelle">
                            <ng-container>
                                <th class="w-40 bg-gray-50  dark:bg-black dark:bg-opacity-5 enteteTable" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    Libellé
                                </th>
                            </ng-container>
                            <td class="pr-8 truncate contentTable" mat-cell *matCellDef="let privilege">
                                {{privilege?.libelle}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="uri">
                            <ng-container>
                                <th class="w-40 bg-gray-50  dark:bg-black dark:bg-opacity-5 enteteTable" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    Uri
                                </th>
                            </ng-container>
                            <td class="pr-8 truncate contentTable" mat-cell *matCellDef="let privilege">
                                {{privilege?.uri}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="niveau">
                            <ng-container>
                                <th class="w-40 bg-gray-50  dark:bg-black dark:bg-opacity-5 enteteTable" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    Niveau
                                </th>
                            </ng-container>
                            <td class="pr-8 truncate contentTable" mat-cell *matCellDef="let privilege">
                                {{privilege?.niveau}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ordre">
                            <ng-container>
                                <th class="w-40 bg-gray-50  dark:bg-black dark:bg-opacity-5 enteteTable" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    Ordre
                                </th>
                            </ng-container>
                            <td class="pr-8 truncate contentTable" mat-cell *matCellDef="let privilege">
                                {{privilege?.ordre}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="affichageMenu">
                            <ng-container>
                                <th class="w-40 bg-gray-50  dark:bg-black dark:bg-opacity-5 enteteTable" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    Affichage menu
                                </th>
                            </ng-container>
                            <td class="pr-8 truncate contentTable" mat-cell *matCellDef="let privilege">
                                <span *ngIf="privilege?.isMenu==='oui'" class="badge-success">
                                    oui
                                </span>
                                <span *ngIf="privilege?.isMenu==='non'" class="badge-red">
                                    non
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="createdAt">
                            <ng-container>
                                <th class="w-40 bg-gray-50 dark:bg-black dark:bg-opacity-5 enteteTable" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                    Date de creation
                                </th>
                            </ng-container>
                            <td class="pr-4 contentTable" mat-cell *matCellDef="let privilege">
                                {{privilege?.createdAt | date: 'dd-MM-yyyy HH:mm:ss'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th class="w-40 bg-gray-50  dark:bg-black dark:bg-opacity-5 enteteTable" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                Action
                            </th>
                            <td class="pr-4" mat-cell *matCellDef="let privilege">
                                <p class="flex">
                                    <button *ngIf="hasUpdate" matTooltip="Modifier" (click)="modifierPrivilege(privilege)" mat-icon-button>
                                        <mat-icon class=" text-green-400 icon-size-4" [svgIcon]="'edit'">
                                        </mat-icon>
                                    </button>
                                    <button *ngIf="hasDelete" matTooltip="Supprimer" (click)="supprimerPrivilege(privilege,privilege.id)" mat-icon-button>
                                        <mat-icon class=" text-red-400 icon-size-4"
                                            [svgIcon]="'delete_outline'"></mat-icon>
                                    </button>
                                    <mat-progress-spinner *ngIf="deleteIndex  && currentIndex === privilege" class="circle-loader-delete" color="#000000" [mode]="'indeterminate'" [strokeWidth]="4" [value]="2" [diameter]="20">
                                    </mat-progress-spinner>
                                </p>
                            </td>
                        </ng-container>
                        <tr class="shadow" mat-header-row *matHeaderRowDef="privilegeColumns; sticky: true"></tr>
                        <tr class="hover:bg-gray-100 dark:hover:bg-hover" mat-row *matRowDef="let privilege; columns: privilegeColumns;"></tr>

                    </table>
                </div>
                    <mat-paginator class="paginator c-paginator" *ngIf="datas.length!==0 && !isLoading" #paginator (page)="pageChanged($event)" [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
                    </mat-paginator>

            </div>
            <div *ngIf="message!==''" class="mt-14">
                <ng-container>
                    <div class="p-8 sm:p-16 title-chargement font-semibold tracking-tight text-center textVideMessage">
                        {{message}}</div>
                </ng-container>
            </div>
        </div>

    </div>
</div>
<h2 style="backgroundColor: red"></h2>
